.fill40 {
	width:40vw;
}
.button1 {
	background-color: #a7a7a7; /* Green */
	border: none;
	color: rgb(255, 255, 255);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	margin: 18px 0px;
	cursor: pointer;
	width: 100%;
	height: 70px;
}

.table {
	width: 80%;
	Margin: 0% 10%;
	border: 1px solid #ddd;
}

.row {
	display: flex;
  }
  
.column {
flex: 100%;
}


#mapArea{
	height: 200%;
	width: 50%;
	margin-right: 10px;
	border: 1px solid grey;
	float:right;
	margin-left: 10px;
  }
  #contentArea{
	max-width: 45%;
	float: left;
	height:400px;
	margin-left: 20px;
  }
  
  #titleArea{
	display: block;
	margin-bottom:10px;
	text-align: center;
	font-size: 20px;
  
  }
  
  #buttonArea{
	margin:10px;
	float:left;
  }
  
  #table-weather{
	width:100%;
	border-collapse: collapse;
  }

  #titleLogoLink {
	/* background-color: #a7a7a7; /* Green */
	border: 1 1 rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 64px;
	
	cursor: pointer;
	width: 100%
  }